asgiref==3.4.1
atomicwrites==1.4.0
attrs==21.2.0
colorama==0.4.4
Django==3.0
entrypoints==0.3
flake8==3.7.0
flake8-html==0.4.1
importlib-metadata==4.8.2
iniconfig==1.1.1
Jinja2==3.0.3
MarkupSafe==2.0.1
mccabe==0.6.1
packaging==21.3
pluggy==1.0.0
py==1.11.0
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.10.0
pyparsing==3.0.6
pytest==6.2.5
pytest-django==3.9.0
python-dotenv==0.19.2
pytz==2021.3
sqlparse==0.4.2
toml==0.10.2
zipp==3.6.0
